ion-menu-button {
  font-size: 16px;
  line-height: 22px;
  color: #dd1b7c;
  margin: 0;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #d604cc;
  margin: 0;
}


 a {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content ion-toolbar {
  --background: transparent;
}


ion-img {
  height: 200px;
}  